body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.computer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.whole-computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monitor-top {
    width: 500px;
    height: 300px;
    background-color: #304357;
    color:rgb(19, 212, 19);
    border: 20px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monitor-text {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

.animation-2,
.animation-3,
.animation-4,
.animation-5,
.animation-6 {
    margin-left: 50px;
}

.animation-1, 
.animation-2,
.animation-3,
.animation-4,
.animation-5,
.animation-6,
.animation-7 {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width: max-content;
}

.animation-1::before,
.animation-1::after,
.animation-2::before,
.animation-2::after,
.animation-3::before,
.animation-3::after,
.animation-4::before,
.animation-4::after,
.animation-5::before,
.animation-5::after,
.animation-6::before,
.animation-6::after,
.animation-7::before,
.animation-7::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.animation-1::before {
    background-color: #304357;
    animation: 
        typewriter 2s steps(13) 1s forwards;
}

.animation-2::before {
    background-color: #304357;
    animation:
        typewriter 2.5s steps(18) 4.5s forwards;
}

.animation-3::before {
    background-color: #304357;
    animation: 
        typewriter 2.5s steps(23) 8.5s forwards;
}

.animation-4::before {
    background-color: #304357;
    animation: 
        typewriter 2.5s steps(23) 12.5s forwards;
}

.animation-5::before {
    background-color: #304357;
    animation: 
        typewriter 3s steps(26) 16.5s forwards;
}

.animation-6::before {
    background-color: #304357;
    animation: 
        typewriter 3.5s steps(36) 21s forwards;
}

.animation-7::before {
    background-color: #304357;
    animation: 
        typewriter 0.5s steps(2) 26s forwards;
}

.animation-1::after {
    width: .125em;
    background: rgb(19, 212, 19);
    animation: 
        typewriter 2s steps(13) 1s forwards,
        blink 600ms steps(13) infinite,
        done 0s 4.5s forwards;
}

.animation-2::after {
    width: .125em;
    background: transparent;
    animation:
        typewriter 2.5s steps(18) 4.5s forwards,
        blink-2 600ms steps(18) 4.5s infinite,
        done 0s 8.5s forwards;
}

.animation-3::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 2.5s steps(23) 8.5s forwards,
        blink-2 600ms steps(23) 8.5s infinite,
        done 0s 12.5s forwards;
}

.animation-4::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 2.5s steps(23) 12.5s forwards,
        blink-2 600ms steps(23) 12.5s infinite,
        done 0s 16.5s forwards;
}

.animation-5::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 3s steps(26) 16.5s forwards,
        blink-2 600ms steps(26) 16.5s infinite,
        done 0s 21s forwards;
}

.animation-6::after {
    width: .125em;
    background: transparent;
    animation: 
        typewriter 3.5s steps(36) 21s forwards,
        blink-2 600ms steps(36) 21s infinite,
        done 0s 26s forwards;
}

.animation-7::after {
    width: .123em;
    background: transparent;
    animation: 
        typewriter 0.5s steps(2) 26s forwards,
        blink-2 600ms steps(2) 26s infinite
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes blink-2 {
    to {
        background: transparent;
    }
    0% {
        background: rgb(19, 212, 19);
    }
}

@keyframes done {
    to {
        background: transparent;
        width: 0;
    }
}

.monitor-bottom {
    width: 540px;
    height: 75px;
    background-color: #bfc5cc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 20px;
    color: rgb(19, 212, 19);
    background-color: black;
    border: 3px solid black;
    border-radius: 25px;
}

.monitor-neck {
    width: 100px;
    height: 0;
    border-bottom: 70px solid #bfc5cc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 5px solid #93979b;
}

.monitor-stand {
    width: 200px;
    height: 30px;
    background-color: #bfc5cc;
    border-radius: 50%;
    position: relative;
    bottom: 20px;
}